<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>shareEdit</title>

    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Theme included stylesheets -->
    <!--<link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css">-->
    <link href="/quill.bubble.css" rel="stylesheet">
    <link href="/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ShareEdit</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <!--<div id="toolbar">-->
              <!--<button class="ql-bold">Bold</button>-->
              <!--<button class="ql-italic">Italic</button>-->
            <!--</div>-->
            <div id="editor">
            </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>CopyRight by <a href="/">Laitingyou</a>, email <a href="/">laitingyou@outlook.com</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <!-- Main Quill library -->
    <script src="/quill.js"></script>
    <script src="/socket.io.js"></script>
    <script>
      var options = {

        placeholder: 'Compose an epic...',
        // readOnly: true,
        theme: 'bubble'
      };
      var editor = new Quill('#editor', options);
      var id = new Date()*1
      editor.on('text-change', function(delta, oldDelta, source) {
        if(source === 'api'){
        }else if(source === 'user'){
          froms = 'user'
          socket.emit('write',{data:JSON.stringify(editor.getContents()),id:id})
        }
      });

      var socket = io.connect(window.location.hostname+':3000');
      socket.on('read', function (data) {
        var data = data.data
        if(data.id != id){
          editor.setContents(JSON.parse(data.data))
        }
      })
    </script>

  </body>
</html>
